/* General Styles */
body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header and Navigation */
nav {
    background-color: whitesmoke; /* White background for navbar */
    height: 60px;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: #007bff; /* Primary color from Bootstrap */
}

.booking-form {
    background-color: #f8f9fa; /* Light color for form background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.booking-form h1 {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #007bff; /* Primary color from Bootstrap */
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
    border-color: #0056b3;
}

/* Footer */
footer {
    background-color: #f8f9fa; /* Light color for footer background */
    color: #212529; /* Dark color for text */
}

footer p {
    margin: 0;
}
